html,
body {
    overflow-x: hidden;
}

#content {
    width: 1920px;
    margin: auto;
}
#content .con1 {
    position: relative;
    width: 1920px;
    height: 845px;
    flex-wrap: wrap;
}
#content .con1 > h2 {
    position: absolute;
    top: 240px;
    left: 700px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    z-index: 1;
    opacity: 0;
    animation: fadeInOut 4s ease-in-out forwards;
}

#content .con1 > h2 span {
    background: linear-gradient(90deg, #ffffff, #e6002e);
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    30% {
        opacity: 1;
        transform: translateY(0);
    }
    70% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}
#content .bgvideo {
    position: relative;
    width: 1920px;
    height: 845px;
}
#content .bgvideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#content .con1 h2 > img {
    width: 130px;
    height: 78px;
    position: absolute;
    top: -100px;
    left: 200px;
}
#content .con1 .info {
    position: absolute;
    top: 650px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
#content .bgvideo .play {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#content .bgvideo .play.on {
    transition: 0.3s ease;
    opacity: 0;
}
#content .bgvideo .play:hover {
    opacity: 1;
}
#content .con1 .info .clip {
}
#content .con1 .info .clip h2 {
    margin-top: 5px;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    background: linear-gradient(90deg, #1680ef 0%, #e31a96 100%);
    text-align: center;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
}
#content .con1 .info .clip h2 > span {
    position: absolute;
    top: 7px;
    left: 17px;
}
#content .con1 .info .clip .cliptitle {
    display: block;
    position: relative;
    width: 100%;
    margin-left: 10px;
}

.ellipsis {
    font-size: 21px;
    color: #fff;
    margin-bottom: 12px;
    line-height: 1.5;
    width: 350px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
}
#content .con1 .info .desc {
    color: rgb(207, 207, 207);
    font-size: 12px;
    line-height: 1.8;
    width: 350px;
}
#content .con1 .info p {
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}
#content .con1 .nowplay {
    position: relative;
    width: 100%;
    background-color: #222;
    height: 70px;
    z-index: 1;
}

#content .con1 .nowplay .nowplaytxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    gap: 20px;
}
#content .con1 .nowplay .nowplaytxt p > span {
    font-size: 20px;
}
#content .con1 .nowplay .nowplaytxt span {
    border-radius: 10px;
    padding: 0px 10px;
    background: rgb(102, 102, 102);
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
}
#content .con1 .nowplay .nowplaytxt span i {
    margin-left: 5px;
}
.heart-float {
    position: absolute;
    font-size: 20px;
    color: #ff3a3a;
    user-select: none;
    pointer-events: none;
    animation: floatUp 1s forwards;
    transform: translateX(-50%);
    z-index: 1000;
    left: 0;
    top: 0;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-100px);
    }
}

.nowplaytxt {
    position: relative;
}

#content .con1 .nowplay .nowplaytxt span > i {
    color: #ff3a3a;
    font-weight: 400;
}
#content .con1 .nowplay .nowplaytxt p span {
    background: none;
    padding: 0;
}
#content .con1 .nowplay .nowplaytxt h2 {
    display: block;
}
#content .con1 .nowplay .nowplaytxt h2 > strong:nth-of-type(1) {
    margin-right: 30px;
}
#content .con1 .nowplay .nowplaytxt h2 > strong:nth-of-type(2) {
    margin-left: 30px;
}
#content .con1 .nowplay .nowplaytxt h2 > span {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 15px;
    background: rgb(102, 102, 102);
}
#content .con1 .nowplay .nowplaytxt h3 {
    display: block;
    font-weight: 600;
}

/* 콘 1 끝 */

.con2 {
}
.con2 .inner {
    margin-top: 100px;
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con2 .inner .scheadule {
    margin-top: 130px;
}
.con2 .inner .scheadule > h2 {
    background: linear-gradient(90deg, #f69cb4, #d7a4e7, #aab8ee, #85d6e8);
    font-weight: 800;
    font-size: 60px;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
}
.con2 .inner .scheadule > h2 > span {
    font-size: 80px;
}
.con2 .inner .scheadule .pointbox {
    position: relative;
    margin-top: 80px;
    justify-content: center;
    width: 1100px;
    height: 285px;
    box-sizing: border-box;
    background: white;
    border-radius: 50px;
    box-shadow: 0 20px 40px rgba(255, 128, 128, 0.3);
}
.con2 .inner .scheadule .pointbox .txt {
    width: 1000px;
    align-items: center;
    margin: 0px auto;
    font-size: 20px;
    font-weight: 600;
    padding-top: 25px;
}
.con2 .inner .scheadule .pointbox .txt h2 {
    display: flex;
    justify-content: space-between;
}
.con2 .inner .scheadule .pointbox .txt h2 > span {
    font-size: 20px;
    color: #1b1b1b;
}
.con2 .inner .scheadule .pointbox .txt h2 i {
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    color: #1b1b1b;
}
.con2 .inner .scheadule .pointbox .txt h2 i:nth-of-type(1):hover {
    transition: 0.2s ease;
    background: linear-gradient(270deg, #ffffff, #e6002e);
    -webkit-background-clip: text;
    color: transparent;
}

.con2 .inner .scheadule .pointbox .txt h2 i:nth-of-type(2):hover {
    transition: 0.2s ease;
    background: linear-gradient(90deg, #ffffff, #e6002e);
    -webkit-background-clip: text;
    color: transparent;
}
.con2 .inner .scheadule .pointbox .txt p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #1b1b1b;
}

.con2 .inner .scheadule .pointbox .teambox {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 10px auto;
    flex-shrink: 0;
    font-size: 90px;
    font-weight: 600;
    position: relative;
}
.con2 .inner .scheadule .pointbox .teambox > h2 {
    position: absolute;
    top: 0;
    right: 435px;
    text-align: center;
    color: #696969;
    font-weight: 600;
}
.con2 .inner .scheadule .pointbox .teambox h2 > span {
    color: #a8a8a8;
}
.con2 .inner .scheadule .pointbox .teambox h2 > strong {
    font-weight: 500;
    color: #696969;
}
.con2 .inner .scheadule .pointbox .teambox span {
    box-sizing: border-box;
    color: #696969;
}
.con2 .inner .scheadule .pointbox .teambox .left {
    box-sizing: border-box;
    display: flex;
}
.con2 .inner .scheadule .pointbox .teambox .left h2 > span {
    display: inline-block;
    width: 95px;
    color: #2b2b2b;
    font-size: 35px;
    font-weight: 600;
}
.con2 .inner .scheadule .pointbox .teambox .left img {
    width: 183px;
    height: 165px;
    object-fit: contain;
}

.con2 .inner .scheadule .pointbox .teambox .right {
    display: flex;
}
.con2 .inner .scheadule .pointbox .teambox .right img {
    width: 183px;
    height: 165px;
    object-fit: contain;
}
.con2 .inner .scheadule .pointbox .teambox .right h2 > span {
    color: #2b2b2b;
    font-size: 35px;
    font-weight: 600;
    margin-left: 30px;
}
.con2 .inner .scheadule .pointbox .teambox > h3 {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 25px;
    font-size: 15px;
    border-radius: 20px;
    background: #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.3s linear;
}
.con2 .inner .scheadule .pointbox .teambox > h3:hover {
    background: linear-gradient(90deg, #1680ef 0%, #e31a96 100%);
    color: #1a1a1a;
}
.con2 .inner .desc {
    position: relative;
    margin-top: 40px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.con2 .inner .scheadule .desc .parking {
    width: 500px;
    height: 178px;
    border-radius: 30px;
    background-image: url(../image/parking.png);
    background-position: 0, 0;
    background-repeat: no-repeat;
    background-size: contain;
}
.con2 .inner .scheadule .desc .parking .parkingtext {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    flex-direction: column;
}
.con2 .inner .scheadule .desc .parking .parkingtext > span {
    font-size: 18px;
    font-weight: 600;
    color: #ff3131;
}
.con2 .inner .scheadule .desc .parking .parkingtext > h2 {
    font-size: 23px;
    font-weight: 500;
}
.con2 .inner .scheadule .desc .parking .parkingtext > strong {
    padding-top: 30px;
    font-weight: 500;
    cursor: pointer;
}
.con2 .inner .scheadule .desc .parking .parkingtext > strong:hover {
    transition: 0.2s ease;
    background: linear-gradient(90deg, #1680ef 0%, #e31a96 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.con2 .inner .scheadule .desc .ranking {
}
.con2 .inner .scheadule .desc .ranking {
    width: 540px;
    height: 178px;
    background: linear-gradient(270deg, #fff7e6 0%, #ffd8a8 30%, #ffb3c1 60%, #ff758f 100%);
    border-radius: 30px;
    margin-bottom: 80px;
}
.con2 .inner .scheadule .desc .ranking .ranktext strong {
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.con2 .inner .scheadule .desc .ranking > img {
    width: 182px;
    height: 122px;
    object-fit: contain;
    position: absolute;
    top: 25px;
    left: 360px;
}
.con2 .inner .scheadule .desc .ranking .ranktext {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    color: white;
    flex-direction: column;
}
.con2 .inner .scheadule .desc .ranking strong {
    font-size: 13px;
    font-weight: 400;
    color: #8a8a8a;
    position: relative;
}
.con2 .inner .scheadule .desc .ranking strong::after {
    content: '';
    width: 2px;
    height: 40px;
    background: #fffbca;
    border-radius: 50%;
    position: absolute;
    top: 68px;
    left: 93px;
}
.con2 .inner .scheadule .desc .ranking h2 {
    margin-right: 10px;
    font-size: 72px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.con2 .inner .scheadule .desc .ranking h2 span:nth-of-type(2) {
    font-size: 18px;
    font-weight: 500;
}
.con2 .inner .scheadule .desc .ranking p {
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
}
.con2 .inner .scheadule .desc .ranking p > span {
    font-size: 14px;
}
/* 콘2끝 */
.con3 {
}
.con3 .inner {
    margin-top: 100px;
    width: 100%;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}

.con3 .inner > h2 {
    background: linear-gradient(90deg, #e60012, #f69cb4, #ffffff);
    font-weight: 800;
    font-size: 60px;
    -webkit-background-clip: text;
    color: transparent;
    align-items: center;
    z-index: 1;
    text-align: center;
    margin-bottom: 20px;
}
.con3 .inner .wizbox {
    position: relative;
    display: flex;
    justify-content: center;
}
.con3 .inner .wizbox .leftwiz {
    width: 800px;
}
.con3 .inner .wizbox .leftwiz .wizvideo {
    width: 544px;
    z-index: 30;
    height: 306px;
}
.con3 .inner .wizbox .leftwiz .videolist {
    display: flex;
}

.con3 .inner .wizbox .leftwiz > p {
    position: absolute;
    top: 50%;
    left: 28.5%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.con3 .inner .wizbox .leftwiz > p button {
    pointer-events: all;
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: none;

    cursor: pointer;
}
.con3 .inner .wizbox .leftwiz > p button i {
    font-size: 50px;
    transition: 0.3s linear;
}
.con3 .inner .wizbox .leftwiz > p button i:hover {
    transform: scale(1.2);
    color: #e6002e;
}
.con3 .inner .wizbox .leftwiz .videobox h2 {
    position: relative;
    margin-top: 8px;
}
.con3 .inner .wizbox .leftwiz .videobox h2 > strong {
    margin-top: 5px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background: linear-gradient(90deg, #1680ef 0%, #e31a96 100%);
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    color: white;
    margin-bottom: 10px;
}
.con3 .inner .wizbox .leftwiz .videobox h2 > span {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
.con3 .inner .wizbox .leftwiz .videobox i {
    position: absolute;
    bottom: 37px;
    left: 800px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s linear;
}
.con3 .inner .wizbox .leftwiz .videobox i:hover {
    transform: scale(1.2);
    color: #e6002e;
}
.con3 .inner .wizbox .leftwiz .videobox > h3 > span {
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

.more-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.con3 .inner .wizbox .rightwiz {
    width: 544px;
    position: relative;
}
.con3 .inner .wizbox .rightwiz .board::after {
    content: '';
    top: 0;
    left: -24%;
    width: 6px;
    border-radius: 50px;
    height: 350px;
    position: absolute;
    background-color: #ececec;
}
.con3 .inner .wizbox .rightwiz .board {
}
.con3 .inner .wizbox .rightwiz .board dt {
    font-weight: 600;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
}
.con3 .inner .wizbox .rightwiz .board dt > span {
    color: #ff8b8b;
}
.con3 .inner .wizbox .rightwiz .board dt:first-of-type {
    margin-top: 0;
}

.con3 .inner .wizbox .rightwiz .board dt:nth-of-type(2) > strong {
    background: url('../image/militeru.jpg') no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    font-weight: 600;
}
.con3 .inner .wizbox .rightwiz .board dd {
    font-size: 10;
    font-weight: 300;
    width: 400px;
    border-bottom: 2px solid #dfdfdf;
}
/* con3 끝 */
.con4 {
}
.con4 .inner {
    margin-top: 100px;
    width: 100%;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}
.con4 .inner > h2 {
    background: linear-gradient(90deg, #f69cb4, #d7a4e7, #aab8ee, #85d6e8);
    font-weight: 800;
    font-size: 60px;
    -webkit-background-clip: text;
    color: transparent;
    align-items: center;
    z-index: 1;
    text-align: center;
    margin-bottom: 20px;
}
.con4 .inner .wizgallery {
    position: relative;
    display: flex;
    margin: auto;
    width: 1400px;
    justify-content: space-between;
}
.con4 .inner .wizgallery .bigimg img {
    box-shadow: 0 20px 40px rgba(255, 128, 128, 0.3);
}
.con4 .inner .wizgallery img {
    width: 450px;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
}
.con4 .inner .wizgallery .leftimg img {
    width: 350px;
    height: 400px;
    opacity: 0.3;
}
.con4 .inner .wizgallery .rightimg img {
    width: 350px;
    height: 400px;
    opacity: 0.3;
}
.con4 .inner .wizgallery p {
    display: flex;
    justify-content: space-between;
    width: 580px;
    top: 40%;
    right: 50%;

    position: absolute;
    transform: translate(50%, 50%);
}
.con4 .inner .wizgallery p button {
    background: none;
    border: none;
}
.con4 .inner .wizgallery p i {
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
.con4 .inner > button {
    margin: 50px auto;
    padding: 0;
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s linear;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con4 .inner > button a > span {
    font-size: 20px;
    font-weight: 600;
}
.con4 .inner > button:hover {
    transform: scale(1.2);
}
/* 콘4끝  */
/* 콘5시작*/
.con5 {
}
.con5 .inner {
    margin-top: 100px;
    width: 100%;
    background: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
}
.con5 .inner .MDSHOP {
    position: relative;
    margin-right: 50px;
    width: 600px;
    height: 300px;

    border-radius: 50px;
    background-image: url(../image/store.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
.con5 .inner .MDSHOP h2 {
}
.con5 .inner .MDSHOP h2 img {
    width: 200px;
    height: 138px;
    object-fit: contain;
    margin-left: 30px;
}
.con5 .inner .MDSHOP h3 {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.con5 .inner .MDSHOP p {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 300;
    color: white;
}
.con5 .inner .MDSHOP > span {
    display: block;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 300;
    color: white;
    transition: 0.2s linear;
}

.con5 .inner .Bestplayer {
    margin-left: 50px;
    width: 600px;
    height: 300px;
    background-image: url(../image/monthbestplayer1.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-radius: 50px;
}
.con5 .inner .Bestplayer h2 img {
    width: 200px;
    height: 138px;
    object-fit: contain;
    margin-left: 30px;
}
.con5 .inner .Bestplayer h3 {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.con5 .inner .Bestplayer p {
    margin-left: 30px;
    font-size: 70px;
    font-weight: 600;
    color: white;
}
.con5 .inner .Bestplayer p > span {
    color: #e6002e;
    font-size: 60px;
    font-weight: 600;
    margin-right: 20px;
}
